.pricing_section{
    padding: 100px 0 160px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color:aliceblue;
}
.pricing_container-card{
    background-color: linear-gradient(45deg,#0660e9 0%,#275afb 100%);
    box-shadow:0 6px 20px rgba(56,125,255,0.2);
    width: 280px;
    
}

.Pricing_container-card:nth-child(2){
    transform: scale(1.05);
    background:#242424;
}
.Pricing_container-card:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
    background-color: #275afb;
}